Dichiaro il dataset

In [2]:
dataset = [['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
           ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

Lo devo trasformare in un formato digeribile da compare pandas

In [6]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder() # il transaction encoder ha bisogno di una istanza
te_ary = te.fit(dataset).transform(dataset) # trasforma i record del dataset in sparseset
df = pd.DataFrame(te_ary, columns = te.columns_)
df

Index(['Apple', 'Corn', 'Dill', 'Eggs', 'Ice cream', 'Kidney Beans', 'Milk',
       'Nutmeg', 'Onion', 'Unicorn', 'Yogurt'],
      dtype='object')

Il dataframe ha come colonne i singoli oggetti delle transazioni

In [10]:
pd.DataFrame(df.columns, columns=["Colonna"])

         Colonna
0          Apple
1           Corn
2           Dill
3           Eggs
4      Ice cream
5   Kidney Beans
6           Milk
7         Nutmeg
8          Onion
9        Unicorn
10        Yogurt

Eseguo fpgrowth dalla libreria mlxtend

In [12]:
from mlxtend.frequent_patterns import fpgrowth
result = fpgrowth(df, min_support = 0.6, use_colnames=True)
result # Ã¨ un dataframe pandas

    support                     itemsets
0       1.0               (Kidney Beans)
1       0.8                       (Eggs)
2       0.6                     (Yogurt)
3       0.6                      (Onion)
4       0.6                       (Milk)
5       0.8         (Kidney Beans, Eggs)
6       0.6       (Kidney Beans, Yogurt)
7       0.6                (Onion, Eggs)
8       0.6        (Onion, Kidney Beans)
9       0.6  (Onion, Kidney Beans, Eggs)
10      0.6         (Kidney Beans, Milk)